* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0d1a26;
    font-family: 'Arial', sans-serif;
  }
  
  .card {
    background-color: #142c42; /* Cor original do card */
    border-radius: 15px;
    width: 320px;
    padding: 20px;
    color: #ffffff;
    text-align: left;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    background-color: #1a3b56; /* Nova cor quando o mouse está em cima */
    cursor: pointer;
  }
  
  .card:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .card-imagem img {
    width: 100%;
    border-radius: 10px;
  }
  
  .card-title {
    font-size: 1.3em;
    color: #ffffff;
    margin: 20px 0 10px;
    font-weight: bold;
  }
  
  .card-descricao {
    color: #8daabf;
    font-size: 1em;
    margin-bottom: 20px;
  }
  
  .card-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #00fff7;
    font-size: 0.9em;
  }
  
  .card-info .preco, .card-info .dias {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .card-info .preco i, .card-info .dias i {
    font-size: 1.1em;
  }
  
  hr {
    border: none;
    border-top: 0.9px solid #8daabf; 
    width: 100%; 
    margin: 20px auto; 
  }
  
  .card-creator {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .creator-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }
  
  .card-creator span {
    color: #8daabf;
    font-size: 0.9em;
    
  }
  
  .card-creator a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .card-creator a:hover {
    color: #00fff7;
  }
.preco span {
    font-weight: bold;
  }
  
  .preco i {
    color: #00fff7;
  }
  
  .dias {
    color: #8daabf;
  }
  
  .card-creator a {
    color: #ffffff;
    font-weight: normal;
    text-decoration: none;
  }
  
  .card-creator a:hover {
    color: #00fff7;
  }
  